{% extends 'base.html.twig' %}

{% block body %}
<div class="quizz centered">
	{{ form_start(form) }}
	{{ form_widget(form) }}
	{{ form_end(form) }}
	<a href="{{ path('delete_answer', {'answerId': answer.id}) }}">Delete</a>
</div>
{% endblock %}